<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFU Hikers Hub - View Events</title>
    <link rel="stylesheet" type="text/css" href="../styles/global.css">
    <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="../styles/footer.css">
    <link rel="stylesheet" type = text/css href="../styles/viewAllEvents.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--<script src="../scripts/deleteEventConfirmation.js"></script> -->
</head>
<body>
    
    <header class="navbar">
        <div class="container">
            <div class="container-left">
                <a class="navbar-brand" href="/">
                    <img src="../images/logo.png" alt="Logo" width="64" height="64">
                </a>
                <a th:if="${user != null}" href="/dashboard" class="nav-link">Dashboard</a>
                <a href="/posts/view" class="nav-link">Forum</a>
                <a href="/events/view" class="nav-link">Events</a>
                <a href="/gallery/view" class="nav-link">Gallery</a>
            </div>
            <div class="container-right">
                <a href="/adminPanel" class="nav-link" th:if="${user != null and user.isAdmin() == true}">Admin</a>
                <a th:if="${user != null}" href="/account" class="nav-link">Account</a>
                <a th:if="${user != null}" href="/logout" class="nav-link">Logout</a>
                <a th:if="${user == null}" href="/login" class="nav-link">Login</a>
                <a th:if="${user == null}" href="/register" class="nav-link">Register</a>
            </div>
        </div>
    </header>
    
    <main>
        <div>
            <form action = "/events/add" class="add-event-button">
                <button type="input" th:if="${user != null and user.isAdmin}" class="nav-link"> Create New Event </button> 
            </form>
        </div>
        <div class="Headertitle">
            Upcoming Events
        </div>
        <div class = "event-list-container">
            <div class = "event-container" th:each="event: ${events}">
                <a class="post-title" th:text="${event.title}" th:href="@{/events/view/{id}(id=${event.eid})}"></a>
                <h class="Location" th:text="${event.location}"></h>
                <form action="/events/remove" method="post" th:if="${user != null and user.isAdmin}" onclick="return confirm('Are you sure want to delete this event? This cannot be undone');">
                    <input type="hidden" id="eid" name="eid" th:value="${event.eid}">
                    <button type="submit" value="SEND">Delete Event</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <p class="footer-copyright-text">SFU Hiking Club 2024 ©</p>
            <div class="footer-links">
                <a href="hikers@sfu.ca" class="footer-link"><i class="bi bi-envelope-fill"></i></a>
                <a href="https://go.sfss.ca/clubs/622/info" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-globe"></i></a>
                <a href="https://www.instagram.com/sfuhikers/" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/sfuhikers/" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>