<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/global.css">
    <link rel="stylesheet" type="text/css" href="/styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="/styles/footer.css">
    <link rel="stylesheet" type=text/css href="/styles/viewEvent.css">
    <title>SFU Hikers Hub - Event</title>

    <input type="hidden" id="lng" th:value="${lng}">
    <input type="hidden" id="lat" th:value="${lat}">
    
    <script th:src="@{'https://api.openweathermap.org/data/2.5/weather?lat=' + ${lat} + '&lon=' + ${lng} + '&appid=' + ${weatherkey}}"></script>
    
    
    <script type='text/javascript' > 
        //var cid = 0; 
    </script>
    <script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script>
    <script src="/scripts/callOpenWeather.js"></script>
    <script src="/scripts/viewEvent.js"></script>
    <script src="/scripts/weatherWidget.js"></script>
    

    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <header class="navbar">
        <div class="container">
            <div class="container-left">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo.png" alt="Logo" width="64" height="64">
                </a>
                <a th:if="${user != null}" href="/dashboard" class="nav-link">Dashboard</a>
                <a href="/posts/view" class="nav-link">Forum</a>
                <a href="/events/view" class="nav-link">Events</a>
                <a href="/gallery/view" class="nav-link">Gallery</a>
            </div>
            <div class="container-right">
                <a href="/adminPanel" class="nav-link" th:if="${user.isAdmin() == true}">Admin</a>
                <a th:if="${user != null}" href="/account" class="nav-link">Account</a>
                <a th:if="${user != null}" href="/logout" class="nav-link">Logout</a>
                <a th:if="${user == null}" href="/login" class="nav-link">Login</a>
                <a th:if="${user == null}" href="/register" class="nav-link">Register</a>
                <a th:href="@{/userProfile/{username}(username=${user.username})}" class="nav-link">Profile</a>
            </div>
        </div>
    </header>

    <main>

        <div class="info">
            <div class="details">
                <h1 th:text="${event.title}"></h1>
                Posted by <a th:text="${event.op}" th:href="@{/userProfile/{username}(username=${event.op})}"></a>
                <p class="important" th:text="${event.location}"></p>
                <!-- <p class="important" th:text="${event.time}"></p> -->
                <p class="important" th:text="${#temporals.format(event.time, 'yyyy-MM-dd HH:mm')}"></p>
                <p class="body" th:text="${event.body}"></p>
            </div>
            <div id="openweathermap-widget-11"></div>
            <div id="errortext" class="errortext"></div>
        </div>
        
        <div id="map"></div>

        <div class="listing">
            <h1 th:text="'Members attending ' + ${event.numAttendees()} + '/' + ${event.maxAttendees}">  </h1>
            <li th:each="user : ${list}" th:text="${user.firstName + ' ' + user.lastName}"></li>
        </div>

        <div class="buttons">
            <form method="post" th:if="${user != null and event.isFull() != true}" th:action="@{/events/view/{eid}/signup(eid=${event.eid})}">
                <!-- <button class="btn btn-primary" type="submit" value="SEND">Sign Up</button> -->
                <input type="submit" value = "Signup">
            </form>
            <h1 th:if="${event.isFull()}"> Sorry, there are no available spots left.</h1>
        </div>
    </main>

    <div id="cusdis_thread" th:if="${user != null}"
        data-host="https://cusdis.com"
        data-app-id="a4002586-2b13-49ab-901c-9cfb9e6bff42"
        th:data-page-id= ${event.eid}
        data-page-url="{{ PAGE_URL }}"
        data-page-title="{{ PAGE_TITLE }}"
        ></div>
        <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
        <script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${apiKey} + '&libraries=places&callback=initMap'}" defer></script>
        
</body>
</html>