<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>event</title>
</head>
<body>
    <main>
        <h1 th:text="${event.title}"></h1>
        <p th:text="${event.op}"></p>
        <p th:text="${event.location}"></p>
        <p th:text="${event.time}"></p>
        <p th:text="${event.body}"></p>
        <form method="post" th:action="@{/events/view/{eid}/signup(eid=${event.eid})}">
            <!-- <button class="btn btn-primary" type="submit" value="SEND">Sign Up</button> -->
            <input type="submit">
        </form>
    </main>
</body>
</html>