<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFU Hikers Hub - Photo Gallery</title>
    <link rel="stylesheet" type="text/css" href="../styles/global.css">
    <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../styles/photoGallery.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
    <header class="navbar">
        <div class="container">
            <div class="container-left">
                <a class="navbar-brand" href="/">
                    <img src="../images/logo.png" alt="Logo" width="64" height="64">
                </a>
                <a href="/dashboard" class="nav-link">Dashboard</a>
                <a href="/posts/view" class="nav-link">Forum</a>
                <a href="/events/view" class="nav-link">Events</a>
                <a href="/gallery/view" class="nav-link">Photo Gallery</a> <!-- Updated the link to point to the gallery view -->
               <!--  <a href="/photoGallery" class="nav-link">Photo Gallery</a>  New Tab for Photo Gallery -->
            </div>
            <div class="container-right">
                <a href="/login" class="nav-link">Login</a>
                <a href="/register" class="nav-link">Register</a>
                <a href="/logout" class="nav-link">Logout</a>
                <a href="/account" class="nav-link">Account</a>
            </div>
        </div>
    </header>
   
    <main>
       <div class="add-photo-container">
       <!--  <a href="/gallery/add" class="button" role="button">Add Photo</a> --> <!-- Updated the link to point to the gallery add photo page -->
     </div> 
    <div class="gallery-container">
        <div th:each="photo : ${photos}">
            <div class="photo-item">
                <!-- <h2 th:text="${photo.title}">Photo Title</h2> -->
                <img th:src="@{'/uploads/' + ${photo.filename}}" > <!-- alt="Photo"/ -->
                <a th:href="@{/gallery/photo/{id}(id=${photo.id})}">View Photo</a> 
            </div>
        </div>
        
    </div>
    </main>
   
    <footer class="footer">
        <div class="footer-container">
            <p class="footer-copyright-text">SFU Hiking Club 2024 ©</p>
            <div class="footer-links">
                <a href="mailto:hikers@sfu.ca" class="footer-link"><i class="bi bi-envelope-fill"></i></a>
                <a href="https://go.sfss.ca/clubs/622/info" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-globe"></i></a>
                <a href="https://www.instagram.com/sfuhikers/" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/sfuhikers/" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </footer>
   <!-- <script src="/static/scripts/photoGallery.js"></script> --> 
</body>
</html>
