<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles/global.css">
    <link rel="stylesheet" type="text/css" href="/styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="/styles/forumPage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header class="navbar">
        <div class="container">
            <div class="container-left">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo.png" alt="Logo" width="64" height="64">
                </a>
                <a href="/info" class="nav-link">Info</a>
                <a href="/gallery" class="nav-link">Gallery</a>
                <a href="/posts/view" class="nav-link">Forum</a>
                <a href="/events/view" class="nav-link">Events</a>
            </div>
            <div class="container-right">
                <a href="/login" class="nav-link" th:if="${us == null}">Login</a>
                <a href="/register" class="nav-link" th:if="${us == null}">Register</a>
                <a href="/logout" class="nav-link" th:if="${us != null}">Logout</a>
            </div>
        </div>
    </header>

    <main>
        <div>
            <h1 th:text="${post.title}"></h1>
            Posted by <p th:text="${post.op}"></p>
            <br>
            <p th:text="${post.body}"></p>
        </div>

        <div id="cusdis_thread" th:if="${user != null}"
        data-host="https://cusdis.com"
        data-app-id="a4002586-2b13-49ab-901c-9cfb9e6bff42"
        th:data-page-id= ${post.pid}
        data-page-url="{{ PAGE_URL }}"
        data-page-title="{{ PAGE_TITLE }}"
        ></div>
        <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
    </main>
    
    <footer class="footer">
        <div class="footer-container">
            <p class="footer-copyright-text">SFU Hiking Club 2024 ©</p>
            <div class="footer-links">
                <a href="hikers@sfu.ca" class="footer-link"><i class="bi bi-envelope-fill"></i></a>
                <a href="https://go.sfss.ca/clubs/622/info" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-globe"></i></a>
                <a href="https://www.instagram.com/sfuhikers/" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/sfuhikers/" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>