<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFU Hikers Hub - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="styles/global.css">
    <link rel="stylesheet" type="text/css" href="styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="styles/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="styles/adminDashboard.css">
</head>
<body>
    <header class="navbar">
        <div class="container">
            <div class="container-left">
                <a class="navbar-brand" href="/">
                    <img src="images/logo.png" alt="Logo" width="64" height="64">
                </a>
                <a href="/info" class="nav-link">Info</a>
                <a href="/gallery" class="nav-link">Gallery</a>
                <a href="/posts/view" class="nav-link">Forum</a>
                <a href="/events/view" class="nav-link">Events</a>
            </div>
            <div class="container-right">
                <a href="/logout" class="nav-link">Logout</a>
            </div>
        </div>
    </header>
    <main class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1>Admin Dashboard</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Admin Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user:${us}">
                            <th scope="row" th:text="${user.uid}"></th>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.isAdmin} ? 'Yes' : 'No'"></td>
                            <td>
                                <!-- edit button -->
                                <form action="/promote" method="post">
                                    <input type="hidden" id="uid" name="uid" th:value="${user.uid}">
                                    <button class="btn btn-primary" type="submit" value="SEND">Promote to Admin</button>
                                </form>
                            </td>
                            <td>
                                <!-- remove button -->
                                <!--
                                <form action="/users/remove" method="post">
                                    <input type="hidden" id="id" name="id" th:value="${user.uid}">
                                    <button class="btn btn-primary" type="submit" value="SEND">Delete Account</button>
                                </form>
                                -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col text-center">
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-container">
            <p class="footer-copyright-text">SFU Hiking Club 2024 ©</p>
            <div class="footer-links">
                <a href="hikers@sfu.ca" class="footer-link"><i class="bi bi-envelope-fill"></i></a>
                <a href="https://go.sfss.ca/clubs/622/info" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-globe"></i></a>
                <a href="https://www.instagram.com/sfuhikers/" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/sfuhikers/" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>