<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <main class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1>Admin Dashboard</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user:${us}">
                            <th scope="row" th:text="${user.uid}"></th>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.email}"></td>
                            <td>
                                <!-- edit button -->
                                <form action="/promote" method="get">
                                    <input type="hidden" id="id" name="id" th:value="${user.uid}">
                                    <button class="btn btn-primary" type="submit" value="SEND">Promote to Admin</button>
                                </form>
                            </td>
                            <td>
                                <!-- remove button -->
                                <form action="/users/remove" method="post">
                                    <input type="hidden" id="id" name="id" th:value="${user.uid}">
                                    <button class="btn btn-primary" type="submit" value="SEND">Delete Account</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col text-center">
                </div>
            </div>
        </div>
    </main>
</body>
</html>