<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SFU Hikers Hub - Login</title>
    <link rel="stylesheet" type="text/css" href="styles/global.css">
    <link rel="stylesheet" type="text/css" href="styles/login.css">
</head>
<body>
    <div class="login-container">
        <form action="/login" method="post">
            <p class="title">Login</p>
            <p class="error-message" th:if="${errorMessage}" th:text="${errorMessage}"></p>
            <input th:value="${username}" type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
            <a href="/forgot-password">Forgot Password?</a>
            <p>Don't have an account? <a href="/register">Register</a></p>
        </form>
    </div>
</body>
</html>




















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css"> 
</head>
<body>
    <form id="loginForm">
        <h2>Login</h2>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div id="error"></div>
        <div>
            <a href="#" id="forgotPassword">Forgot password?</a>
        </div>
        <div>
            Don't have an account? <a href="/register.html">Register</a>
        </div>
    </form>
  
</body>
</html> -->
