<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFU Hikers Hub</title>
    <link rel="stylesheet" type="text/css" href="styles/global.css">
    <link rel="stylesheet" type="text/css" href="styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="styles/home.css">
    <link rel="stylesheet" type="text/css" href="styles/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header class="navbar">
        <div class="container">
            <div class="container-left">
                <a class="navbar-brand" href="/">
                    <img src="images/logo.png" alt="Logo" width="64" height="64">
                </a>
                <a th:if="${us != null}" href="/dashboard" class="nav-link">Dashboard</a>
                <a href="/posts/view" class="nav-link">Forum</a>
                <a href="/events/view" class="nav-link">Events</a>
                <a href="/gallery/view" class="nav-link">Photo Gallery</a> 
               <!-- <a href="/gallery/photoGallery" class="nav-link">Photo Gallery</a> --> 
            </div>
            <div class="container-right">
                <a href="/login" class="nav-link" th:if="${us == null}">Login</a>
                <a href="/register" class="nav-link" th:if="${us == null}">Register</a>
                <a href="/logout" class="nav-link" th:if="${us != null}">Logout</a>
                <a href="/account" class="nav-link" th:if="${us != null}">Account</a>
            </div>
        </div>
    </header>
    <main>
        <div class="hero-container">
            <div class="overlay">
                <p class="hero-title">SFU Hiking Club</p>
                <p class="hero-description">We are a student-led club working to engage the SFU community in outdoor activities and adventures.</p>
                <a class="hero-button" href="#footer">Contact Us</a>
            </div>
        </div>
        <div class="mission-container">
            <div class="mission">
                <p class="mission-title">What we do</p>
                <p class="mission-text">The SFU Hiking Club is a student-run organization that aims to provide a platform for SFU students to connect with each other through hiking and outdoor activities. Our mission is to create a welcoming and inclusive community where students can share their passion for the outdoors, explore new trails, and make lasting memories. At the SFU Hikers Club, we embark on journeys that transcend the simple act of walking. Nestled in the heart of a region renowned for its breathtaking landscapes, our club is a vibrant community of adventurers and nature enthusiasts from Simon Fraser University. Our mission is to explore the great outdoors, connect with nature, and foster a sense of camaraderie among students and faculty alike.</p>
            </div>
        </div>
        <div class="achievements-container">
            <p class="achievements-title">Our Achievements</p>
            <div class="achievements">
                <div class="achievement">
                    <img src="images/achievement1.jpg" alt="Achievement" class="achievement-image">
                    <div class="achievement-text-container">
                        <p class="achievement-title">Conquering the Mountains</p>
                        <p class="achievement-text">We embarked on a series of challenging adventures, ascending multiple steep mountains that tested our endurance and strength. Each climb brought its own set of obstacles, from rocky terrains to unpredictable weather, yet the sense of achievement upon reaching the summits was unparalleled. This journey through the rugged landscapes not only brought us closer to nature but also taught us valuable lessons in perseverance and resilience.</p>
                    </div>
                </div>
                <div class="achievement">
                    <img src="images/achievement2.jpg" alt="Achievement" class="achievement-image">
                    <div class="achievement-text-container">
                        <p class="achievement-title">Embracing the Nature</p>
                        <p class="achievement-text">Undeterred by the cold embrace of snow, we continue to forge our paths through nature's trials, embodying the spirit of true adventurers. No matter the weather, be it under clear skies or amidst a frosty whiteout, you will find us on a hike. Our determination to explore and conquer the natural world around us knows no bounds, as we embrace each journey with enthusiasm and resilience, proving that not even the harshest of conditions can quell our passion for adventure.</p>
                    </div>
                </div>
                <div class="achievement">
                    <img src="images/achievement3.jpg" alt="Achievement" class="achievement-image">
                    <div class="achievement-text-container">
                        <p class="achievement-title">Building a Community</p>
                        <p class="achievement-text">We're not just any group; we're a tight-knit community of hikers who love pushing our limits. It's all about challenging ourselves and exploring new places together. Our bond is strong because of the adventures we share and the challenges we overcome. We're more than just a club; we're a team that finds strength in our shared passion for hiking and exploring the great outdoors.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="places-container">
            <div class="places-sub-container">
                <p class="places-title">Places We've Explored</p>
                <div class="places">
                    <p class="place">Grouse Mountain</p>
                    <p class="place">Capilano Suspension Bridge Park</p>
                    <p class="place">Stanley Park Seawall</p>
                    <p class="place">Lynn Canyon Park</p>
                    <p class="place">The Stawamus Chief</p>
                    <p class="place">Mount Seymour Provincial Park</p>
                    <p class="place">Pacific Spirit Regional Park</p>
                    <p class="place">Garibaldi Provincial Park</p>
                    <p class="place">Golden Ears Provincial Park</p>
                    <p class="place">Deep Cove</p>
                </div>
            </div>
        </div>
      
    </main>
    <footer id="footer" class="footer">
        <div class="footer-container">
            <p class="footer-copyright-text">SFU Hiking Club 2024 ©</p>
            <div class="footer-links">
                <a href="hikers@sfu.ca" class="footer-link"><i class="bi bi-envelope-fill"></i></a>
                <a href="https://go.sfss.ca/clubs/622/info" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-globe"></i></a>
                <a href="https://www.instagram.com/sfuhikers/" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/sfuhikers/" target="_blank" rel="noreferrer" class="footer-link"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>