.gallery-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}

.gallery-image {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .gallery-image {
    width: 100%;
  }
}