* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'arial', sans-serif;
    background: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}