.gallery-container {
  margin-top: 70px;
  /* display: grid; */
  /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
  /* gap: 10px; */
 /*  margin: 10px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
  grid-gap: 16px; /* Adjust the gap as needed */
}

.photo-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: flex; /* Add flex to ensure the content inside is centered */
  flex-direction: column; /* Stack children elements (like your image and button) vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

/* .gallery-image {
  width: 100%;
  height: auto;
  display: block;
} */


.photo-item img { /* Target the images inside your .photo-item */
  width: 100%; /* Make the image fill the container */
  height: auto; /* Keep the aspect ratio of the image */
  display: block; /* Display block to remove any bottom margin/whitespace */
}


.add-photo-container {
  margin-top: 100px;
  text-align: center; /* Center the button if desired */
}

/* Style for the "Add Photo" button, replace or modify according to your actual button styles */
.add-photo-button {
  padding: 10px 20px;
  background-color: #ff0055; /* Example blue color, use your color scheme */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; /* Darker blue on hover, use your color scheme */
}