.info {
    display:flex;
    margin-top: 110px;
}


.details {
    /*margin-top: 70px;*/
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.errortext {
    text-align: center;
    font-size: 50px;
    color: var(--accent-color);
}

#openweathermap-widget-11 {
    flex: 1;
}

.details h1 {
    color: var(--accent-color);
    margin-bottom: 10px;
}

.listing {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.listing h1 {
    color: #333;
    margin-bottom: 10px;
}

.listing ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listing li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.important {
    margin-bottom: 10px;
    color: var(--accent-color);
    font-weight: bold;
}

.form-container {
    margin-top: 20px;
}

.form-container form {
    display: inline-block;
}

.buttons {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
input[type="submit"] {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}
input[type="submit"]:hover {
    background-color: #000000;
}