  main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for add-event-button */

/*
.add-event-button {
    border: none;
    padding: 16px;
    background-color: rgb(81, 150, 253);
    width: 300px; 
    border-radius: 5px;
    margin-top: 70px;
    margin-bottom: 20px;
}
*/


/* Styles for event-list-container */

.event-list-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

/* Styles for event-container */

.event-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    width: 600px;
}


/* Styles for post-title */
.post-title {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

/* Styles for delete button */
button[type="submit"] {
  background-color: rgb(179, 27, 0);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(0, 0, 0);
}


button[type="input"] {
  margin-top: 70px;
  background-color: rgb(135, 165, 211);
  color: #fff;
  width: 300px;
  height: 100px;
  border-radius: 10px;
}

button[type="input"]:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
